services:
  app:
    container_name: smtpy
    image: registry.atomdev.fr/smtpy:latest
    environment:
      - SMTPY_DATABASE_URL=postgresql://postgres:postgres@192.168.10.111:5432/smtpy
      - SMTP_RELAY=localhost
      - SMTP_PORT=1025
    ports:
      - "1001:8000"
      - "1025:1025"
    restart: unless-stopped
