services:
  smtp:
    image: python:3.13-slim
    working_dir: /app
    volumes:
      - ./back/smtp:/app
    command: bash -c "pip install uv && uv sync && source .venv/bin/activate && python main.py"
    environment:
      - SMTPY_DB_PATH=/app/dev.db
      - SMTP_HOST=localhost
      - SMTP_PORT=1025
    ports:
      - "1025:1025"

  api:
    image: python:3.13-slim
    working_dir: /app
    volumes:
      - ./back/api:/app
    command: bash -c "pip install uv && uv sync && source .venv/bin/activate && uvicorn main:create_app --host 0.0.0.0 --port 8000 --factory --reload"
    environment:
      - SMTPY_DB_PATH=/app/dev.db
      - SMTP_HOST=smtp
      - SMTP_PORT=1025
    ports:
      - "8000:8000"
    depends_on:
      - smtp

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
    # Add more dev dependencies/services as needed