services:
  smtp:
    container_name: smtpy-smtp
    image: registry.atomdev.fr/smtpy-smtp:latest
    build:
      context: .
      dockerfile: ./back/smtp/Dockerfile
    environment:
      - SMTPY_DATABASE_URL=postgresql://postgres:postgres@192.168.10.111:5432/smtpy
      - SMTP_RELAY=localhost
      - SMTP_PORT=1025
    ports:
      - "1025:1025"
    restart: unless-stopped

  api:
    container_name: smtpy-api
    image: registry.atomdev.fr/smtpy-api:latest
    build:
      context: .
      dockerfile: ./back/api/Dockerfile
    environment:
      - SMTPY_DATABASE_URL=postgresql://postgres:postgres@192.168.10.111:5432/smtpy
      - SMTP_HOST=smtp
      - SMTP_PORT=1025
    ports:
      - "1001:8000"
    restart: unless-stopped
    depends_on:
      - smtp
