aiosmtpd~=1.4.6
fastapi~=0.116.0
jinja2
dkimpy
uvicorn
httpx
sqlmodel
python-multipart
passlib[bcrypt]~=1.7.4
itsdangerous
dnspython~=2.7.0
pytest~=8.4.1
pytest-asyncio
fastapi[testing]
stripe~=12.3.0
SQLAlchemy~=2.0.41
starlette~=0.46.2
pydantic-settings~=2.10.1